<a href="https://colab.research.google.com/github/Zubairahmad09/String-Analysis-LiSA/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install -U -q PyDrive
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials

In [ ]:
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving Banana.csv to Banana.csv

In [ ]:
import pandas as pd
xyz = pd.read_csv('Banana.csv') 
print(xyz.head(1))

     V1  V2;Class
0  1.14  -0.114;1

In [ ]:
xyz

         V1  V2;Class
0     1.140  -0.114;1
1    -1.520   -1.15;2
2    -1.050    0.72;1
3    -0.916   0.397;2
4    -1.090   0.437;2
...     ...       ...
5295  0.335    1.39;2
5296 -1.700  -0.569;2
5297  2.640    1.14;2
5298  0.769   0.772;1
5299 -0.255  -0.142;2

[5300 rows x 2 columns]

In [ ]:
from sklearn.model_selection import train_test_split
xyz_train, xyz_test = train_test_split(xyz,test_size=.3)

In [ ]:
xyz_train

         V1  V2;Class
1030  1.620  -0.919;1
2544 -0.545   -1.31;1
408   0.939  -0.351;2
3767  1.530   0.368;1
4849  0.299    1.56;1
...     ...       ...
2307  1.290  -0.151;1
383  -0.516  -0.935;1
2601 -1.530  0.0251;2
3189 -1.070   0.256;2
2262  0.386  -0.997;1

[3710 rows x 2 columns]

In [ ]:
import pprint
import math

pp = pprint.PrettyPrinter(indent=4)

points = xyz_train
k = 2


# Defining the KdTree
def build_kdtree(points, depth=0):          
    n = len(points)

    if n = 0:
        return None

    axis = depth % k
# Sorting the points regarding axix
    sorted_points = sorted(points, key=lambda point: point[axis])

# Defining the median point and left and right branch
    return {
        'point': sorted_points[n // 2],
        'left': build_kdtree(sorted_points[:n // 2], depth + 1),
        'right': build_kdtree(sorted_points[n // 2 + 1:], depth + 1)
    }
    kd = build_kdtree(points)
    kd.build()
    print(kd.build)

In [ ]:
def kdtree_closest_point(root, point, depth=0, best=None):
    if root is None:
        return best

    axis = depth % k

    next_best = None
    next_branch = None

    if best is None or distance_squared(point, best) > distance_squared(point, root['point']):
        next_best = root['point']
    else:
        next_best = best

    if point[axis] < root['point'][axis]:
        next_branch = root['left']
    else:
        next_branch = root['right']

    return kdtree_closest_point(next_branch, point, depth + 1, next_best)